body{
    background-color: rgba(32, 27, 193, 0.866);
}
*{
            padding: 0px;
            margin: 0px;
        }
.rob{
            background-color: black;
            color: blanchedalmond;
            border: 3px solid blue;
            border-radius: 9px;
            width: 50vw;
            height: 90vh;
            position: relative;
            left: 200px;
            top: 50px;
            .rob1{
                position: relative;
                top: 20px;
                left: 135px;
            }
            .f1{
                position: relative;
                left: 80px;
                top: 60px;
                 
            }
            .f2{
                position: absolute;
                top: 380px;
                left: 150px;
            }
        }